.Nav_main {
  justify-content: end;
  width: 100%;
}
.Header_main {
  background: #98a9871a;
}

.navbar_main a {
  font-weight: 400;
  font-size: 15px;
  line-height: 19.36px;
  color: #111827;
  font-family: "Inter", sans-serif;
}
.Toggle_btn {
  padding: 0 !important;
  border: none;
  outline: none !important;
  box-shadow: none;
}
.Toggle_btn:focus {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  .Nav_main {
    /* position: absolute;
    top: 100%;
    left: 0; */
    text-align: center;
  }
}
